<nav
	id="sidebarMenu"
	class="d-md-block bg-dark sidebar"
	th:fragment="sidebar"
	style="height: 100vh"
>
	<div class="position-sticky pt-3">
		<ul class="nav flex-column">
			<li class="nav-item">
				<a href="/" class="nav-link" aria-current="page"> Inicio </a>
			</li>
			<li class="nav-item">
				<a href="/libro" class="nav-link"> Libros </a>
			</li>
			<li class="nav-item">
				<a href="/autor" class="nav-link"> Autores </a>
			</li>
			<li class="nav-item">
				<a href="/editorial" class="nav-link"> Editoriales </a>
			</li>
			<li class="nav-item">
				<a href="/cliente" class="nav-link"> Clientes </a>
			</li>
			<li class="nav-item">
				<a href="/prestamo" class="nav-link"> Prestamos </a>
			</li>
		</ul>
	</div>
</nav>
