<nav
	id="sidebarMenu"
	class="d-md-block bg-dark sidebar"
	th:fragment="sidebar"
	style="height: 100vh"
>
	<div class="position-sticky pt-3 text-center">

		<span class="fs-4 text-white">Libreria</span>

		<hr class="bg-white">

		<ul class="nav flex-column">
			<li class="nav-item btn btn-secondary my-1 mx-3">
				<a href="/" class="nav-link text-white"> Inicio </a>
			</li>
			<li class="nav-item btn btn-secondary my-1 mx-3">
				<a href="/libro" class="nav-link text-white"> Libros </a>
			</li>
			<li class="nav-item btn btn-secondary my-1 mx-3">
				<a href="/autor" class="nav-link text-white"> Autores </a>
			</li>
			<li class="nav-item btn btn-secondary my-1 mx-3">
				<a href="/editorial" class="nav-link text-white"> Editoriales </a>
			</li>
			<li class="nav-item btn btn-secondary my-1 mx-3">
				<a href="/cliente" class="nav-link text-white"> Clientes </a>
			</li>
			<li class="nav-item btn btn-secondary my-1 mx-3">
				<a href="/prestamo" class="nav-link text-white"> Prestamos </a>
			</li>
		</ul>
	</div>
</nav>
